@charset "utf-8";
/* CSS Document */

*, :after, :before {
  box-sizing: border-box;
}

body,
td,
th,
p{
  font-family: Tahoma, Helvetica, sans-serif;
  font-size: 12pt;
  color: #333;
  line-height: 1.5;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
}

ul,
li {
  font-family: Tahoma, Helvetica, sans-serif;
  font-size: 12pt;
  color: #333;
}

a {
  color: #77d574;
  text-decoration: none;
}

a:hover, a:focus {
  color: #66c363;
  text-decoration: none;
}

a img{
  border: none 0 #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Tahoma, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

img,
embed,
video,
object{
  max-width: 100%;
}

table{
  border-spacing: 0;
  width: 100%
}

#main-content {
  background-color: #f3f3f3;
  min-height: 100%;

}

#footer {
  background-color: #252831;
  color: #fff;
  font-size: 9pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

#footer a{
  padding: 16px 0;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align: center;
}

nav h1 {
  margin: auto;
  line-height: 80px;
}

nav h1 a {
  color: #fff;
  font-size: 12pt;
  font-weight: 200;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding: 12px 0;
}
.breadcrumb-nav{
  width: 100%;
  height: auto;
  background-color:transparent;
  text-align: left;
}
.skip-map{
  position: fixed;
  top: -99px;
  z-index: 1001;
  color: #000;
  background-color: #00d3c5 ;
  padding: 5px 10px;
  font-size: 14px;
  left: 10px;
}

.skip-map:focus{
  top: 10px;
  color: #000;
  box-shadow: 0px 0px 3px 3px #fff;
}

#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #64481d;
  text-decoration: none;
  padding: 12px;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
  display: none;
}

#map-container h2{
  position: absolute;
  top: -999px;
  left: 0;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: #01605a;
  align-items: center;
  display: flex;
  flex-wrap: wrap;

}

.filter-options h2 {
  color: white;
  font-size: 1.125rem;
  font-weight: normal;
  margin: 9px 11px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
  flex-basis: 100%;
}

#restaurants-list li a:focus,
.filter-options select:focus {
  outline: 0;
  box-shadow: 0px 0px 3px 3px #ffff00;
}

.filter-options label{
  display: none;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: auto;
  padding: 30px 15px 60px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  justify-content: center;
}

#restaurants-list li {
  background-color: #fff;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: left;
  flex-basis :calc(100% - 30px) ;
  border-radius: 6% 0 6% 0;
  -webkit-border-radius: 6% 0 6% 0;
  -moz-border-radius: 6% 0 6% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 450px;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin-top: 26px;
  max-width: 100%;
  min-width: 100%;
  border-radius: 19px;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
}

#restaurants-list li h3 {
  color: #01605a;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 12pt;
}

#restaurants-list li a {
  background-color: #01605a;
  color: #fff;
  display: inline-block;
  font-size: 11pt;
  margin: 15px 0 0;
  padding: 10px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

#restaurants-list li a:hover{
  background-color: #004440;
}
#map-container{
  position: relative;
}
#map-container #map-button{
  position: absolute;
  top: 6px;
  left: 11px;
  color: #fff;
  padding: 5px 20px;
  font-size: 13px;
  background-color: #105f0d;
  cursor: pointer;
}
#static-map{
  cursor: pointer;
}
/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #map-container {  
  height: 50vh;
  width: 100%;
  margin-top: 131px;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

#restaurant-name {
  color: #105f0d;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  width: 100%;
}

#restaurant-address {
  margin-bottom: 22px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

#restaurant-container h3{
  margin-bottom: 12px
}

#restaurant-container,
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 40px 30px;
  width: 100%;
  margin: auto;
  max-width: 450px;
}

#reviews-container {
  padding: 30px 40px;
  max-width: 1400px;
}
#reviews-container h3, #reviews-container h4{
  color: #105f0d;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  position: relative;
  width: 100%;
  border-radius: 27px 0 27px 0;
  -webkit-border-radius: 27px 0 27px 0;
  -moz-border-radius: 27px 0 27px 0;
  flex-basis: 100% ;
}

#reviews-list .header-review{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: #444;
  padding-top: 9px;
}

#reviews-list .header-review p{
  flex-grow: 1;
  color: #fff;
  font-size: 12pt;
}

#reviews-list .header-review p:nth-child(2){
  color: #e0e0e0;
  font-size: 13px;
  margin-top: 4px;
  text-align: right;
}

#reviews-list .rating-review{
  display: inline-block;
  margin-top: 12px;
  background: #105f0d;
  padding: 5px 11px;
  font-size: 14px;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

#reviews-list li p {
  margin: 0 20px 10px;
}
#reviews_form p{
  display: none;
  text-align: center;
  width: 100%;
  font-weight: bold;
}
#reviews-container input , #reviews-container select , #reviews-container textarea{
  width: 100%;
  height: 24px;
  margin-bottom: 12px;
  font-size: 14px;
}

#reviews-container textarea{
  height: 120px;
}
#reviews-container #submit{
  color: #fff;
  height: 36px;
  background-color: #105f0d;
}

#reviews-container #reviews_form{
  width: 100%;
  max-width: 600px;
  margin: auto;
}

#restaurant-hours tr:nth-child(even){
  background-color: #fff;
}

#restaurant-hours td ,
#restaurant-hours th {
  color: #333;
  margin: 0;
  padding: 5px 10px;
  font-size: 14px;
  text-align: left;
}

#restaurant-hours th {
  color: #105f0d;
}

@media screen and (min-width: 700px){
  nav h1 a {
    font-size: 14pt;
    letter-spacing: 10px;
  }

  #restaurants-list li {
    flex-basis: calc(50% - 30px) ;
  }

  .filter-options select{
    flex-basis: auto;
    flex-grow: 1;
  }

  #header-content{
    display: flex;
    flex-direction: row-reverse;
  }

  #restaurant-container{
    margin-top: 100px;
  }

  #map-container{
    flex-grow: 1;
  }

  .inside #map-container{
    height: auto;
  }

}
@media screen and (min-width: 992px){
  #restaurants-list li {
    flex-basis: calc(33.3333% - 30px) ;
  }

  #reviews-list li {
    margin: 0 20px 30px;
    flex-basis: calc(50% - 40px);
  }

}